<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Bootstrap CSS -->
		<link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.1/spacelab/bootstrap.min.css" rel="stylesheet">
        {% include "style.html" %}
    </head>
    <body>{% block content %}{% endblock %}			   
<!-- Bootstrap JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script>
$(document).ready(function() {
        //Included for those who may want to include animations.
        //Note that modifying the DOM with Jquery might affect the
        //way the PDF version of the document is generated.
        //YMMV
});</script>
    </body>
</html>